.fusion-footer .fusion-footer-widget-area .fusion-row .fusion-columns .fusion-column:nth-child(1) {
    .widget_media_image img {
        max-width: 180px !important;
    }

    .widget_text {
        margin-bottom: 10px !important;
    }

    .fusion-social-network-icon {
        margin: 0 10px 10px !important;
    }

    .fusion-widget-menu{
        ul li a{
            padding: 15px 0 !important;
        }
    }
}