.fusion-header {
    .fusion-standard-logo {
        max-height: 80px;
    }

    .fusion-mobile-logo {
        max-height: 50px !important;
    }

    .fusion-icon-only-link{
        padding: 0 10px;
    }
}

.fusion-header-wrapper{
    .fusion-main-menu .sub-menu{
        bottom: -1em !important;
    }
    &.fusion-is-sticky{
        .fusion-main-menu .sub-menu{
            bottom: -3em !important;
        }
    }
}

.avada-has-pagetitle-bg-parallax .fusion-page-title-bar{
    background-position: center bottom !important;
}