.fusion-header-has-flyout-menu .fusion-flyout-menu .fusion-mobile-menu{
    li{
        a{
            padding: 15px 0;
        }
        &:nth-last-child(1),  &:nth-last-child(2){
            a{
               padding: 10px 0; 
            }
        }
        &:nth-last-child(2){
            border-top: 1px solid white;
            margin-top: 30px;
        }
    }
}